/* header */
*{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-image: url(../images/banner/banner3.png);
    width: 1200px;
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    
  
}
.heading{
    text-align: right;
 
}
.header-title{
    margin-left: 670px;
    margin-right: 80px;
    padding-top: 50px;
    text-align: right;
    font-weight: 600;
    font-size: 45px;
    color: #FFFFFF;
    

}
.header-description{ 
    margin-left: 670px;
    margin-right: 80px;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

}
.btn{
    color:#005FAC;
    font-weight: 600;
    font-size: 20px;
    margin-right: 80px;
    margin-left: 800px;
    padding: 10px 20px;
    border: 1px solid #FFFFFF ;
    border-radius: 5px;

}
/* my failure */
.failure{
    margin-top: 80px;
    display: flex;
    gap: 30px;
}
.failure-img{
    margin-left: 50px;
   

}
.failure-description{
    margin-top:160px;
    margin-right: 50px;
  

}
.failure-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}
.failure-descriptiop{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
.failure-pont{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
/* plans */
.plan{
    margin-top: 100px;

}
.plan-heading{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #151414;

}
.plan-contain{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right:50px;
    margin-top: 50px;

}
.plan-img{
    margin-left: 30px;

}
.plan-title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;

}
.plan-description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    text-align: center;

}
/* success */
.success{
    margin-top: 60px;
    display: flex;
    gap:30px;
    margin-left: 50px;
    margin-right: 50px;

}
.success-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}
.success-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;

}
.success-point{
    font-weight: 400;
    font-size: 16px;
    color: #444343;


}
.success-img{ 
    margin-left: 150px;
    margin-right: 80px;
    margin-top: 100px;

}
/* positive */
.positive{
    width: 1000px;
    height: 230px;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),url(../images/watch.png);
    border-radius: 8px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    padding-bottom: 50px;

}
.positive-title{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-left: 50px;
    padding-top: 50px;
    margin-right: 300px;

}
.bttn{
    margin-left: 50px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border: 1px solid white;
    border-radius: 5px;

}
/* footer */
.footer{
    display: flex;
    background-color:black ;
    color: white;
    padding:50px 100px; 
    margin-top: 100px;
    gap: 200px;
} 
.future-title{
    font-weight: 700;
    font-size: 40px;

}

.future-des-one{font-weight: 400;
    font-size: 16px;

}
.future-des-two{
    font-weight: 400;
    font-size: 16px;
}
.future-des-three{font-weight: 400;
    font-size: 16px;

}
.button{ color: blue;
    font-weight: 600;
    font-size: 20px;
    border:2px sloid black;
    padding: 10px 20px; 
    border-radius: 5px;
     margin-top: 10px;
}